@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.dancing-style {
  font-family: "Dancing Script", cursive;
}

.text-shadow {
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.large-web-text-3 {
  font-size: 400px;
  transform: rotate(33deg);
  z-index: 1;
  bottom: -15%;
  right: 0;
}

.containers {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: #fcfcfc;
}
.vertical-bar {
  height: 70px;
  width: 1px;
  background-color: black;
}

@media (max-width: 576px) {
  .large-web-text-3 {
    font-size: 150px;
    transform: rotate(33deg);
    z-index: 1;
    bottom: -5%;
  }
}
